<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../views/style/style.css" type="text/css">
    <title>Rick and Morty</title>
</head>
<body>
    <header>
        <nav>
            <ul class="nav-list">
                <li style= >
                    <a href="">Locations</a>
                </li>
                <li>
                    <img src="../views/img/Rick-and-Morty-black.png" alt="">
                </li>
                <li>
                    <a href="">Episodes</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="container-form">
            <div class="container-browser">
                <h1> <span>Rick & Morty</span>  <span>API</span> </h1>
                <form action="">
                    <label for=""> <span>Find your favorites rick and morty </span> <span>characters</span></label>
                    <input type="text" name="" id="" placeholder="Search...">
                </form>
            </div>
            <div class="container-rta">

            </div>
        </div>
        <div class="container-img">
            <img src="../views/img/Rick-principal.png" alt="">
        </div>
    </div>
</body>
</html>